body {
	font-family: Alegreya Sans, sans-serif;
	font-size: 16px;
}

main {
	min-height: 80vh;
}

.dark-bg {
	background-color: #000;
	color: white;
}

/* Header Area */
.navbar-dark .navbar-nav .nav-link
{
    color:#fff;
}

.nav-link:hover{
  text-decoration: underline;
}

.topnav_nav-separator {
	color: #fff;
	padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.nav-heart {
	background: url(https://www.mybestbrands.de/eaglestatic/icons/white-heart-outline.svg)
		bottom no-repeat;
	background-size: 20px;
	display: inline-block;
	height: 16px;
	width: 16px;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
}

/* Footer Area */
.footer-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.app-btn{
  border: 1px solid white;
  padding: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
}

a.app-btn{
  color: #fff;
  text-decoration: none;
}

a.app-btn:hover{
  background-color: #fff;
  color: #000;
}

.footer-image{
  height: 3.6rem;
  margin-bottom: 4rem;
}

.footer-nav{
  margin-top: 2rem;
  display: flex;
  justify-content: center;

}

.footer-nav a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.footer-nav a:hover{
  text-decoration: underline;
}

.footer-follow-us{
  font-style: italic;
  letter-spacing: .07rem;
  text-transform: uppercase;
  padding-top: 3rem;
}

.footer-follow-us-heart{
  margin-left: 5px;
  margin-bottom: 5px;
}

.social-media{
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-media-icon{
  width: 28px;
  height: 28px;
  border: 2px solid #fff;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-media-icon:hover{
  background-color: #fff;
}

.social-media-icon:hover svg{
  fill: #000
}

#copyright{
  padding-top: 3rem;
  padding-bottom: 8rem;
}

/* HomeScreen Products Area */
.card-body{
  padding-top: 0;
}

.product-brand-name{
	text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.card-img{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.product-image:hover{
  opacity: 0.7;
}

.product-brand-name:hover{
  text-decoration: none;
  color: #000;
}

.product-category {
	font-size: 14px;
}

.new-price {
	color: #ec19ca;
	padding-right: 1rem;
}

.old-price {
	text-decoration: line-through;
}

.pink-link a{
 text-transform: uppercase;
 text-decoration: none;
 color: #000;
 font-weight: bold;
}

.pink-link a:hover{
  color: #ec19ca;
	text-decoration: none;
}

.pink-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.like-col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.2rem !important;
}

.like {
  background: url(https://www.mybestbrands.de/eaglestatic/icons/black-heart-outline.svg)
		50% no-repeat;
	display: inline-block;
	cursor: pointer;
	width: 2rem;
	height: 2rem;
}

.like:hover {
	background: url(https://www.mybestbrands.de/eaglestatic/icons/pink-heart-outline.svg)
		50% no-repeat;
}

/* Filter section of HomeScreen  */
.filter-title{
  font-size: 18px;
}

.form-control {
  border-radius: 0;
  border: 1px solid #000;
}

.form-control:focus{
  border-color: #000;
  box-shadow: none;
}

.search-button {
  border-radius: 0;
  background-color: #000;
  color: #fff;
}

.search-button:hover {
  background-color: #222;
}

.search-button:focus{
  box-shadow: none;
}

/* Detail Page Area */
.detail-image{
  padding-left: 4rem;
}

.brand-name{
  text-transform: uppercase;
  font-weight: bold;
}

.product-category{
  font-family: 'Playfair Display', serif;
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}

.detail-new-price {
	color: #ec19ca;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.detail-old-price {
	text-decoration: line-through;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.price-separator{
  color: #aeaeae;
  font-weight: 100;
  padding: 0 0.8rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.zum-shop-btn{
  border: 1px solid #000;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
  background-color: #000;
  text-align: center;
  cursor: pointer;
}

a.zum-shop-btn{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

a.zum-shop-btn:hover{
  background-color: #222;
}

.dropdown-toggle{
  width: 100%;
  border-radius: 0;
  background-color: transparent;
  color: #000;
  border-top: 1px solid #000;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  text-align: left;
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.2rem;
}

.dropdown-toggle:hover{
  background-color: #fff;
  color: #000;
  border-top: 1px solid #000;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle.btn:active{
  background-color: #fff !important;
  color: #000 !important;
  border-color: #000 !important;
}

.dropdown-toggle.btn:focus{
  background-color: #fff !important;
  color: #000 !important;
  border-color: #000 !important;
  box-shadow: none;
}

.dropdown-custom-toggle{
 text-align: end;
}

.dropdown-menu{
  width: 100%;
  border-radius: 0;
  border: 0;
}

.dropdown-menu.show {
  display: contents;
}

.dropdown-item-text{
  margin-left: 12px;
}

.dropdown-row .dropdown-menu{
  position: static;
  float: none;
}

.dropdown-row div {
  font-size: 14px;
}

.last-dropdown{
  border-top: 1px solid #000;
  opacity: 1;
}

.last-dropdown-row{
  padding-left: 12px;
  padding-right: 12px;
}

.sizes-button {
  color: #000;
  text-decoration: underline;
}

.sizes-button:hover {
  color: #000;
  text-decoration: underline;
}

.detail-like {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  margin: 0.5rem;
  width: 1.562rem;
  height: 1.562rem;
  text-align: right;
}

.detail-like-col{
  display: flex;
  justify-content: flex-end;
}

.detail-category-links a{
  color: #000;
  text-decoration: none;
}

.detail-category-links a:hover{
  color: #ec19ca;
  text-decoration: none;
}